<div class="navbar-lewagon">
  <i class="fa-solid fa-ticket"></i>
  <%= link_to "New List", new_list_path %>
</div>
<h1>All Movie Lists 🎥</h1>
<ul>
  <% @lists.each do |list|  %>
  <li><%= link_to list.name, list_path(list) %></li>
  <% end %>
</ul>
